/**{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* :root {
    
} */

body {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}


body.dark-mode *{
    /* Estilos para modo oscuro */
    background-color:rgb(4, 6, 57);
    color: #fff;
}

html body.light-mode * {
    background-color: #868ff4; /* Fondo blanco */
    color: #333; /* Texto oscuro */
}

/*Barra de Menu*/

.barra-menu {
    background-color: #191e2b; 
    padding: 10px;
}

.Titulo {
    display: block;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    margin: 10px;
    color: white;

}

.Contenedor-Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 5px; */
}

.boton {
    margin: 5px;
    display: flex;
    justify-content: center;
    height: 35px;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: transparent;
}

.boton-modo-claro {
    margin: 5px;
    display: flex;
    justify-content: center;
    height: 35px;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    display: none;
}


/*Contenedor Meme*/

.contenedor-meme {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30343f;
    padding: 0, 20px;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.texto-meme {
    display: flex;
    justify-content: center;
    width: 40%;
    font-size: 35px;
    padding: 35px 50px;
    background-color: rgb(251, 248, 248);
    text-align: center;
    font-weight: 800;
    color: black;
    margin: 0;
    
}

.imagen-meme {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    
}

.img-gatos {
    /* max-width: 1200px;
    min-width: 320px; */
    width: 605px;
    height: 605px;   
    
}


.descargar {
    display: block;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    margin: 20px;
    background-color: rgb(74, 62, 248);
    padding-inline: 20px;
}

/* Menu Imagen*/ 

.panel-img {
    width: 260PX;
    height: 100%;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 15px;
    background-color: #252935;
    z-index: 10;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    /* display: none; */
}



.hidden {
    display: none;

}

.titulo-imagen {
    margin-top: 20px;
    color: white;
    font-size: 15px;
    text-align: center;
}


.url-imagen {
    background-color: #393e49;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    color: white;
    
}


.fondo {
    font-size: 15px;
    margin-top: 30px;
}

.opcion-fondo {
    width: calc(50% - 2px);
    background-color: #393e49;
    border-radius: 5px;
    margin-top: 17px;
    height: 30px;
    cursor: pointer;
}


.filtro {
    margin-top: 30px;

}

.brillo {
    margin-top: 20px;
    font-size: 15px;

}
.rango {
    margin-top: 10px;
    
    
}

.boton-filtros {
    display: flex;
    justify-content: ;
    background-color: rgb(74, 62, 248);
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    align-items: center;
}

/*Menu de Texto*/


.panel-texto {
    width: 260PX;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 15px;
    background-color: #252935;
    z-index: 10;
    overflow: auto;
    position: fixed;
    top: 0;
    right:0;
    /* display: none; */
}

.titulo-texto {
    margin-top: 20px;
    color: white;
    font-size: 15px;
    text-align: center;
}

.superior {
    margin-top: 20px;
    font-size: 15px;
    
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 20px;

}
.contenedor-checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;


}
.sin-texto { 
    margin-top: 10px;
    text-align: start;
}

.titulo-inferior {
    margin-top: 15px;
    font-size: 15px;
}

.fuente {
    margin-top: 15px;
}

.tipo-fuente {
    background-color: #393e49;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}

.tamaño-fuente {
    width: calc(80% - 2.5px);
    background-color: #393e49;
    margin-top: 5px;
    border-radius: 5px;
    height: 30px;
}
.boton-justificado {
    width: calc(16% - 2.5px);
    background-color: #393e49;
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;


}

.texto-color {
    margin-top: 20px;
}

.color {
    display: flex;
    background-color: #393e49;
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
    width: calc(50% - 2.5px)
}

.texto-fondo {
    margin-top: 20px;
    
}

.titulo-contorno {
    margin-top: 20px;
}

.contorno {
    width: calc(33% - 2.5px);
    background-color: #393e49;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}

.interlineado {
    margin-top: 20px;
    padding-bottom: 50px;
}

.espaciado-1 {
    width: 100%;
    background-color: #393e49;
    margin-top: 5px;
    border-radius: 5px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 40px;

}

.panel-img.active,
.panel-texto.active {
    display: flex;
}

/* Responsive No se me dio el Responsive */

@media (max-width: 768px) {
    .img-gatos {

    }

}
